.plans-header {
    color: #fff;
    display: flex;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    gap: 5rem;
    justify-content: center;
    text-transform: uppercase;
}
.plans-blur-1 {
    height: 23rem;
    left: 0;
    top: 6rem;
    width: 32rem;
}
.plans-blur-2 {
    height: 23rem;
    right: 0;
    top: 10rem;
    width: 32rem;
}
.plan {
    background: var(--caloryCard);
    color: #fff;
    display: flex;
    flex-direction: column;
}
.plan>svg {
    fill: var(--orange);
    height: 2rem;
    width: 2rem;
}
.plan>:nth-child(2) {
    font-size: 1rem;
    font-weight: 700;
}
.plan>:nth-child(3) {
    font-size: 3rem;
    font-weight: 700;
}
.plan:nth-child(2) {
    background: var(--planCard) ;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.plan>:nth-child(5) {
    font-size: .8rem;
    margin: 1rem;

}
  .plan >:nth-child(6) {
    background-color: #fff;
    border: 4px solid transparent;
    font-weight: 700;
    padding: 1rem;
    margin: 1rem;
    transition: all .3s;
}
    
  .plan:nth-child(2) button{
   color:orange;
    
}
    
@media screen and (max-width: 768px) {
    .plans-header {
        flex-direction: column;
        font-size: 2rem;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .plan:nth-child(2) {
        transform: none;
        font-size: 1rem;
}
.plan>:nth-child(2) {
    font-size: 1rem;
}
.plan>:nth-child(3) {
    font-size: 1rem;
}

}